*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: #3bc776;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    color: white;
    background-color:darkgreen;
    font-size: 1.3rem;
    padding: 0.6rem;
}

.choices{
    margin-top: 6.5rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

img:hover{
    opacity: 60%;
}

.scorebord{
    margin-top: 5rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.resetbtn{
    margin: 3rem;
}

#reset{
    background-color: black;
    color: bisque;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 30px;
    border: none;
}

#reset:hover {
    background-color:cornsilk;
    color: black;
}